body {
    font-family: Arial, sans-serif;
}

.add-prod-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-prod {
    display: inline-block;
    width: 48%;
    margin-right: 4%;
}

.form-group-image {
    display: inline-block;
    width: 48%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

input[type="file"] {
    padding: 10px;
}

.product-design {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.design-box {
    width: 24%;
    border: 1px dashed #ccc;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.design-box img {
    width: 80%;
    margin-bottom: 10px;
}

.product-variant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.variant-box {
    width: 32%;
    padding: 10px;
}

.supported-printing-type {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #ec971f;
}
.prod-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:20px
}
.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 48%;
}
.form-group,
.variant-box {
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.supported-printing-type,
.product-design {
    display: flex;
    flex-direction: column;
}
.design-box {
    margin-bottom: 10px;
}