<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Agreement</title>
    <!-- Boxicons -->
    <link th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}" rel="stylesheet" />
    <!-- Custom StyleSheet -->
  
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <style>
    </style>
</head>

<body>

    <div th:fragment="header" th:insert="~{Client/navbarfragment :: header}"></div>

    <div th:fragment="terms">
        <div class="container">
            <h1>User Agreement</h1>
            <p>This agreement between you and ENY Printing governs your access and use of our website and services. By
                visiting our website, you agree to follow these terms and conditions.</p>

            <h2>Welcome to the ENY Printing website and services.</h2>
            <p>Welcome to the ENY Printing website and services! We’re excited to have you here and hope you enjoy
                exploring our offering. By choosing to stay on this site and use our service, you acknowledge that you
                are accepting our terms of service as outlined in this agreement. It’s important to stay informed about
                any changes that may occur, as your continued use signifies your acceptance of the latest terms and
                conditions. We may update these terms occasionally without prior notice, so please check back from time
                to time.</p>

            <h2>ENY Printing Services:</h2>
            <ul>
                <li>Create, design, and customize products such as t-shirts, mugs, tote bags, caps, and more.</li>
                <li>Purchase products listed for sale with various sizes, colors, and pre-design templates.</li>
                <li>Save and share designs you create, including inserting your own images and text.</li>
                <li>Use our picture and design tools to personalize your items.</li>
                <li>Save created images and designs in public and personal galleries.</li>
            </ul>

            <h2>Definition and interpretation</h2>
            <p>In these terms of use, unless the context indicates otherwise:</p>
            <ul>
                <li>Intellectual property refers to all rights related to creative works owned by ENY Printing,
                    including trademarks and artwork.</li>
                <li>User means any individual or organization that accesses or utilizes the services offered on the ENY
                    Printing website.</li>
                <li>Services encompass the various products and functionalities available through ENY Printing,
                    including personalized items and online ordering.</li>
                <li>Information includes any data or material presented on the ENY Printing website, in any format.</li>
                <li>The term "must" indicates an obligation to perform a specific action or comply with a requirement.
                </li>
            </ul>

            <h2>Responsibilities</h2>
            <p>Users are accountable for:</p>
            <ul>
                <li>Ensuring they have the required technology, including computers or mobile devices, and a stable
                    internet connection to access ENY Printing services.</li>
                <li>The originality and legality of any content they create, upload, or share on the ENY Printing
                    website.</li>
                <li>Following all relevant laws and regulations that apply to their use of the website and services.
                </li>
                <li>Implementing any recommendations provided by ENY Printing related to website usage and service
                    engagement.</li>
                <li>Verifying that any tools or media utilized alongside the website comply with these Terms of Use and
                    any applicable laws.</li>
            </ul>

            <h2>Restriction on users</h2>
            <p>Users shall not and have no right to:</p>
            <ul>
                <li>Access or use the ENY Printing website in any manner that may disrupt, damage, or impair the
                    website's operation.</li>
                <li>Share, reproduce, or distribute any content from the website without obtaining prior written consent
                    from ENY Printing.</li>
                <li>Utilize automated tools or software, including bots or scrapers, to harvest or collect data from the
                    website without authorization.</li>
                <li>Engage in any activity that constitutes a violation of applicable laws or regulations while using
                    the website and services.</li>
                <li>Attempt to access any restricted areas of the website or bypass any security measures in place.</li>
                <li>Use the website to transmit any harmful, abusive, or illegal content, including malware or spam.
                </li>
                <li>Misrepresent their identity or impersonate any individual or entity while using the website.</li>
                <li>Post or upload any content that infringes upon the intellectual property rights of others or
                    violates privacy rights.</li>
                <li>Engage in activities that could create a risk of damage or harm to the reputation of ENY Printing or
                    its services.</li>
                <li>Share their login credentials or allow unauthorized access to their account on the website.</li>
                <li>The use of third-party applications, such as Canva, or any similar tools, is prohibited.</li>
            </ul>

            <h2>ENY Printing Obligations</h2>
            <p>Access to and use of the website and services subjects to user complying with and discharging each of its
                obligations under these terms of use, ENY Printing shall allow user to access and use the website and
                the services.</p>

            <h2>Privacy:</h2>
            <p>ENY Printing may collect personal data concerning the user in the course of and incidental to user’s use
                of the website and services. ENY Printing shall comply with, and user hereby consents irrevocably and
                unconditionally to ENY Printing collection, use and disclosure of such data in accordance with, its
                privacy policy (the terms of which may be accessed through the link on the website).</p>

            <h2>Training</h2>
            <p>User acknowledges that ENY Printing has no obligation to user to provide any training or other support in
                relation to the user or operation of the website and/or services.</p>

            <h2>Modification of the website</h2>
            <p>ENY Printing reserves the right to modify the organization, structure, content or “look and feel” of the
                website and/or the services, and may change, suspend, or discontinue any aspect of the website and/or
                the service at any time without notice or any liability to user or any person.</p>

            <h2>Intellectual Property Rights</h2>
            <h3>Reservation of Title</h3>
            <p>User acknowledges that these terms of use do not grant any rights, titles, or interests in the
                intellectual property related to the website or services provided by ENY Printing. ENY Printing grants
                user a limited, revocable license to access and use the website and services for their intended
                purposes, as long as user comply with these terms and use. This license does not allow users to collect
                or use information from the website for prohibited purposes, compete with ENY Printing, create
                derivative works based on the website’s layout or design, or download or copy the website beyond basic
                page caching. If users exceed the scope of this license or breach these terms of use, ENY Printing may
                revoke the license and deny access to the website and services.</p>

            <h3>Prohibition on Infringement</h3>
            <p>User acknowledges and agrees that ENY Printing does not permit, authorize or condone and hereby expressly
                prohibits user from accessing or using the website and/or the services in a manner that infringes, or is
                likely to infringe, the intellectual property rights, or any other rights or privileges, of any person
                anywhere in the world.</p>

            <h2>Derivative material</h2>
            <p>Users own any original content they create using the website’s tools. However, if they submit content to
                a public gallery, they give ENY Printing permission to use that content in connection with its services.
            </p>

            <h2>Registration</h2>
            <p>Once you complete the registration process on our site, you’ll receive a password and account
                designation. It’s super important to keep this password safe and confidential, as you’re responsible for
                all activities that happen under your account. If you notice any unauthorized use of your account or
                password, please let us know right away! Also, remember to log out at the end of each session for your
                security. We want to keep your experience safe and enjoyable, but please note that ENY Printing isn’t
                responsible for any loss or damage if these steps aren’t followed.</p>

            <h2>User’s warranties</h2>
            <p>User represents and warrants to ENY Printing that, in its use of the Website and the Services provided,
                it:</p>
            <ol>
                <li>Will not infringe the intellectual property right, trade secrets, right of privacy, right of
                    publicity or other legal right of any person and</li>
                <li>Will comply with all applicable laws, rules and regulations.</li>
            </ol>
            <p>User further represents and warrants to ENY Printing that:</p>
            <ol start="3">
                <li>There are no claims, demands or any form of litigation pending, or to the best of its knowledge,
                    threatened with respect to any content used or proposed to be used by user;</li>
                <li>ENY Printing will not be required to make any payments or compensation to any person in connection
                    with its use of such content: and</li>
                <li>Such content does not contain viruses or any other programs or technology which disrupts or damages
                    the website and/or the services provided.</li>
            </ol>

            <h2>ENY Printing warranties</h2>
            <p>ENY Printing represents and warrants that it has the right to grant access to and license the use of the
                website and services to user subject to and in accordance with this term of use.</p>

            <h2>Caution</h2>
            <p>ENY Printing provides the website and services on an “as is” and “as available” basis. Nothing in this
                term of use shall or may be construed as a representation or warranty by ENY Printing that the
                functionality or operation of the website and/or the services will:</p>
            <ol>
                <li>Be uninterrupted or free of errors and inaccuracies;</li>
                <li>Meet user’s requirements; or</li>
                <li>Operate in the configuration or with the hardware or software used by user.</li>
            </ol>
            <p>User acknowledges and agrees that the website and the service (as with technology generally), may have
                errors (or bugs) and may encounter unexpected problems. Accordingly, user may experience downtime and
                errors in the use or operation of the website and/or services provided.</p>
            <p>ENY Printing does not and cannot control the flow of data and information through the internet, and such
                flow depends on the performance of persons and entities whose actions or inactions may produce
                situations in which connections to the internet (or portions thereof) are impaired or disrupted and for
                which ENY Printing is not liable.</p>

            <h2>Exclusion of implied warranties</h2>
            <p>All conditions, warranties, representation, indemnities, and guarantees with respect to the website
                and/or any other goods or services that may be provided by ENY Printing, that would otherwise be implied
                by statute, law, equity, trade custom, prior dealings between the parties or otherwise (including any
                implied warranty of merchantability, suitability, fitness for purpose, quiet enjoyment or
                non-infringement) are hereby expressly excluded.</p>

            <h2>No representation of reliance</h2>
            <p>(a) The user understands that ENY Printing or anyone representing us has not made any promises or
                suggestions to encourage the user to agree to these terms and use, except for what is clearly stated in
                these terms.</p>
            <p>(b) The user agrees that they are not relying on any promises or suggestions from ENY Printing or our
                representatives, except for those specifically mentioned in these terms.</p>

            <h2>Exclusion and limitation of liability</h2>
            <p>Subject to law, nothing contained in these terms of use excludes, restricts, limits and modifies any:</p>
            <ol>
                <li>Implied condition, warranty or other term of these terms of use where pursuant to applicable law to
                    do so is unlawful or void;</li>
                <li>Liability in respect of a breach of this term of use where pursuant to applicable law to do so is
                    unlawful or void;</li>
                <li>Liability for fraud or deceit;</li>
                <li>Liability for death or personal injury caused by the negligence of either party.</li>
            </ol>
            <p>Exclusion of liability</p>
            <p>Subject only to clause subject to law, in no event shall ENY Printing be liable to user or to any person
                under or in connection with this term of use or in respect of the use of (or failure or performance of)
                the website and/or the services provided for:</p>
            <ol>
                <li>Malfunctions, failures, defects, acts or omissions or any other default or liability caused directly
                    or indirectly by:</li>
                <ul>
                    <li>Any third party;</li>
                    <li>Actions of user that were not expressly authorized by ENY Printing;</li>
                    <li>Alteration or modification of the website and/or the service, or any component or part of the
                        website and/or the service, by anyone other than ENY Printing;</li>
                    <li>Products (including any hardware or software) or services not licensed or supplied by ENY
                        Printing;</li>
                    <li>Power surge or failure;</li>
                    <li>Events of force majeure or events outside ENY Printing actual control;</li>
                    <li>Any other condition not arising under normal operating conditions;</li>
                </ul>
                <li>Any loss, cost, damage or expense of any nature arising or caused directly by breach or users’
                    obligation or responsibilities set out in these terms of use;</li>
                <li>Any loss of profit, business interruption, loss of or damage to goodwill, and/or any expectation
                    benefit;</li>
                <li>Incidental, indirect, consequential, special, exemplary or punitive damages of any nature, whether
                    such liability is asserted on the basis of common civil law or in equity, including pursuant to any
                    statute, contract, tort (including negligence or strict liability) or otherwise and notwithstanding
                    that ENY Printing has been advised of the possibility of any particular loss or damage.</li>
            </ol>

            <h2>Links</h2>
            <p>ENY Printing may add links to other websites without asking for your permission. You understand that ENY
                Printing is not responsible for how these other websites work or their content. ENY Printing does not
                guarantee that the information on these sites is accurate, complete, legal, or appropriate. If you use
                these links, you agree not to hold ENY Printing responsible for any issues or losses that may arise from
                your use of those other websites.</p>

            <h2>Limitation of liability</h2>
            <p>Subject to Subject to law, and except to the extent specifically excluded under Clause Exclusion of
                liability or elsewhere in these Terms of Use, ENY Printing sole liability to Subscriber for any and all
                breaches of any term or terms of these Terms of Use, whether express or implied, shall be limited to the
                substitution or replacement of any product or service that has been ordered and paid for by Subscriber
                using the Website.</p>

            <h2>Indemnity</h2>
            <p>You agree to protect and hold harmless ENY Printing from any claims or costs arising from your use of the
                Website and services, including any content you post or upload that may violate laws; any breach of
                these Terms of Use; misuse of any content; and any infringement of someone else's intellectual property
                rights or privacy rights, anywhere in the world. This means you will cover any losses, expenses, or
                legal fees resulting from these issues.</p>

            <h2>Termination</h2>
            <p>(a) At any time and with or without cause, ENY Printing may immediately terminate either these Terms of
                Use or any or all rights and privileges granted to user hereunder, including suspending users access to
                and/or use of the Website and/or the Services provided by ENY Printing. In no event shall any such
                termination or suspension by ENY Printing relieve user of any obligation that has accrued under these
                Terms of Use prior to the date of such termination or suspension.</p>
            <p>(b) User may terminate these Terms of Use at any time by ceasing to enter the website and using the
                services.</p>

            <h2>Effect of termination</h2>
            <p>(a) On any expiry or termination of these Terms of Use, ENY Printing may delete any websites, web pages,
                files, graphics, media or other content or material relating to users use of the Website and/or the
                Services provided and ENY Printing shall have no liability to user or any person for doing so.</p>
            <p>(b) The expiry or termination of these Terms of Use shall not prejudice or affect any cause of action,
                right, remedy or defense which shall have accrued or shall thereafter accrue to either party.</p>

            <h2>Severability</h2>
            <p>If a clause or any part of any clause of these Terms of Use or a right or remedy of a party under these
                Terms of Use, is found to be void, invalid or unenforceable by any court or tribunal having jurisdiction
                in respect of these Terms of Use, then:</p>
            <ol>
                <li>it shall be read down or severed in that jurisdiction only to the extent that it is void, invalid or
                    unenforceable;</li>
                <li>it does not affect the validity or enforceability of that term or clause in another jurisdiction or
                    the remaining terms or clauses in any jurisdiction.</li>
            </ol>

            <h2>Variation</h2>
            <p>ENY Printing may amend unilaterally these Terms of Use in its sole and unfettered discretion at any time,
                and user hereby agrees to abide by and be fully bound by such amended terms. The amended terms shall be
                effective automatically and immediately once they are posted on the Website, and user's continued access
                and use of the Website and the Services on or after such effective time constitutes the user's
                unequivocal and unconditional acceptance of the amended terms. These Terms of Use may not be otherwise
                amended. If user does not agree to any amendments to these Terms of Use or to any of the current terms,
                its only right and remedy is to cease using the Website and the ENY Printing.</p>

            <h2>Waiver</h2>
            <p>A waiver, consent, election or acquiescence given by a party under these Terms of Use is only effective
                and binding on that party if it is given or confirmed in writing by that party.</p>

            <h2>Assignment</h2>
            <p>(a) ENY Printing may at any time transfer, assign, novate or otherwise dispose of any or all of its
                rights or obligations under these Terms of Use on giving user no less than five (5) days’ notice in
                writing.</p>

            <h2>Governing law and jurisdiction</h2>
            <p>(a) These Terms of Use are governed by the laws of the Philippines.</p>
            <p>(b) Both parties agree that any legal matters related to these Terms will be handled exclusively in the
                courts of the Philippines.</p>
        </div>
    </div>
</body>

</html>