  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
      <!-- Boxicons -->
      <link
        th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}"
        rel="stylesheet"
      />
      <!-- Custom StyleSheet -->

      <link th:href="@{/css/styles.css}" rel="stylesheet"  />
      <title>ENY Prints | Online</title>

    </head>
    <body>
        <!-- Top Nav -->
        <div th:fragment="header" th:insert="~{Client/navbarfragment :: header}"></div>

        <div th:fragment="cardview" th:insert="~{Client/cardviewfragment :: cardview}"></div>

      <!-- Categories Section -->
      
      <section class="section category">
        <h2 style="text-align: center; padding-bottom: 15px;">Choose Your Style</h2>
        <div class="cat-center">
          
          <form action method="post">
            <div class="product-grid">
                <div class="product" th:each="product : ${products}">
                    <a th:href="@{/product/{id}(id=${product.prodID})}">
                        <img th:src="${product.imgURL}" alt="Product Image" width="100">
                        <h3 th:text="${product.prodName}">Product Name</h3>
                        <p th:text="${product.prodDescription}">Product Description</p>
                        <!-- <p th:text="${product.price}">Price</p> -->
                        <p th:text="${product.category}">Category</p>
                    </a>
                </div>
            </div>
        </form>
        </div>

          <div style="text-align: center; margin-top: 30px;">
              <a th:href="@{/products}">
                  <button type="button" class="btn btn-outline-primary custom-btn">
                      See All Products
                  </button>
              </a>
          </div>

    </section>

      <!-- Contact -->
      <section class="section contact">
        <div class="row">
          <div class="col">
            <h2>EXCELLENT SUPPORT</h2>
            <p>We love our customers and they can reach us any time
            of day we will be at your service 24/7</p>
            <a href="" class="btn btn-1">Contact</a>
          </div>
          <div class="col">
            <form action="">
              <div>
                <input type="email" placeholder="Email Address">
              <a href="">Send</a>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="row">
          <div class="col d-flex">
            <h4>INFORMATION</h4>
            <a href="">About us</a>
            <a href="">Contact Us</a>
            <a href="">Term & Conditions</a>
            <a href="">Shipping Guide</a>
          </div>
          <div class="col d-flex">
            <h4>USEFUL LINK</h4>
            <a href="">Online Store</a>
            <a href="">Customer Services</a>
            <a href="">Promotion</a>
            <a href="">Top Brands</a>
          </div>
          <div class="col d-flex">
            <span><i class='bx bxl-facebook-square'></i></span>
            <span><i class='bx bxl-instagram-alt' ></i></span>
            <span><i class='bx bxl-github' ></i></span>
            <span><i class='bx bxl-twitter' ></i></span>
            <span><i class='bx bxl-pinterest' ></i></span>
          </div>
        </div>
      </footer>


    <!-- PopUp
    <div class="popup hide-popup">
      <div class="popup-content">
        <div class="popup-close">
          <i class='bx bx-x'></i>
        </div>
        <div class="popup-left">
          <div class="popup-img-container">
            <img class="popup-img" src="popup.jpg" alt="popup">
          </div>
        </div>
        <div class="popup-right">
          <div class="right-content">
            <h1>Get Discount <span>50%</span> Off</h1>
            <p>Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
            </p>
            <form action="#">
              <input type="email" placeholder="Enter your email..." class="popup-form">
              <a href="#">Subscribe</a>
            </form>
          </div>
        </div>
      </div>
    </div> -->

    </body>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js}"></script>
    <script th:src="@{/js/slider.js}"></script>
    <script th:src="@{/js/index.js}"></script>
  
  </html>