<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Boxicons -->
  <link th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}" rel="stylesheet" />
  <link th:href="@{.js/index.js}"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>ENY Prints | Online</title>

</head>

</head>

<body>
  <!-- top nav -->

  <div th:fragment="header" th:insert="~{Client/navbarfragment :: header}"></div>
  <div class="product-container">

    <!-- Product Image -->
    <div class="prodImg-gallery">
      <h1 th:text="${product.prodName}">Product Name</h1>
      <img th:src="${product.imgURL}" alt="Product Image" class="main-prod-img">
    </div>

    <!-- Variant Options and Buttons -->
    <div class="product-details">
      <p th:text="${product.prodDescription}">Product Description</p>
      <div th:if="${product.inventoryList != null}" th:each="inventory : ${product.inventoryList}">
        <div class="variant-options">
            <label>Size:</label>
            <select id="size" th:attr="onchange='updatePrice(this)'">
                <option th:each="sizeVariant : ${inventory.sizeVariants}" 
                        th:value="${sizeVariant.size}" 
                        th:text="${sizeVariant.size}">Size</option>
            </select>
            <br>
            <label>Color:</label>
            <select id="color" th:attr="onchange='updatePrice(this)'">
                <option th:each="color : ${inventory.color}" 
                        th:value="${color}" 
                        th:text="${color}">Color</option>
            </select>
        </div>
        <span th:text="${inventory.price}">Price</span>
    </div>
      <!-- Action Buttons -->
      <div class="product-actions">
        <a class="btn btn-primary" th:href="@{/design/${product.sku}(imageUrl=${product.imgURL})}">Start Designing</a>
        <a class="btn btn-secondary" th:href="@{/cart/add/${product.id}}">Add to Cart</a>
      </div>

    </div>
  </div>
</body>

</html>