<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Boxicons -->
  <link th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}" rel="stylesheet" />

  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>ENY Prints | Online</title>

</head>

</head>

<body>
  <!-- top nav -->
  <div th:fragment="header" th:insert="~{Client/navbarfragment :: header}"></div>
  <div class="product-container">
    <h1 th:text="${product.prodName}">Product Name</h1>
    <div class="prodImg-gallery">
      <img th:src="${product.imgURL}" alt="Product Image" class="main-prod-img">
      <!-- <div class="prodImge-sides">
        <img th:src="${product.backImgURL}" alt="Back View" class="side-image">
          <img th:src="${product.sleeveImgURL}" alt="Sleeve View" class="side-image">
      </div> -->
    </div> 
    <p th:text="${product.prodDescription}">Product Description</p>
    <!-- <p th:text="${product.price}">Price</p> -->
    <p th:text="${product.category}">Category</p>
    <a href="/home">Back to Home</a>
  </div>

</body>

</html>