<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <!-- <style>
        span.required{
            color: red;
            font-weight: bold;
        }
    </style> -->
</head>

<body>
    <div th:fragment="addProductsFormfragment(productRequest)">
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <h1>Add Products</h1>
        <div class="add-prod-container">
            <div class="prod-container">
                <div class="box">
                    <h3>Basic Information</h3>
                    <form th:action="@{/admin/products/saveProduct}" th:object="${productRequest}" method="post"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productname">Product Name: <span class="required">*</span></label>
                            <input type="text" id="productname" th:field="*{products.prodName}" required />

                        </div>

                        <div class="form-group">
                            <label for="productDesc">Product Description: <span class="required">*</span></label>
                            <textarea id="productDesc" th:field="*{products.prodDescription}" required></textarea>

                        </div>

                        <div class="form-group-prod">
                            <label for="prodcategory">Category: <span class="required">*</span></label>
                            <select id="prodcategory" th:field="*{products.category}" required>
                                <option th:each="cat : ${categories}" th:value="${cat.categoryId}"
                                    th:text="${cat.categoryName}"></option>
                            </select>
                        </div>

                        <div class="box">
                            <div class="form-group-image">
                                <label for="imageFile">Product Image: <span class="required">*</span> </label>
                                <input type="file" id="imageFile" name="imageFile" />
                            </div>

                        </div>
                        <div class="variant-box">
                            <div class="box">
                                <h3>Product Variants</h3>
                                <div class="display-options"></div>
                                <div class="variant-group"></div>
                                <a class="add">&plus; Add options like size or color</a>
                            </div>
                        </div>
                
                    <div class="buttons">
                        <button type="reset">Discard</button>
                        <button type="submit">Add Product</button>
                    </div>
                </div>
             </div>
        </form>
        <div id="message" class="alert" style="display:none;"></div>
    </div>
</body>
</html>
