<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  
     <!-- Main content -->
    <h1>Welcome to the Admin Dashboard</h1>
    <div th:fragment="dashboardfragment">
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
              <div class="card-list d-flex flex wrap">
                <div class="row flex-fill">
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex">
                    <div class="card sales flex-fill">
                      <div class="title">Sales</div>
                      <i class='bx bx-line-chart'></i>
                      <div class="value">&#8369; Sample Sales Number</div>
                      <div class="stat"><b>Ipsum</b>Dolor</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex">
                    <div class="card orders flex-fill">
                      <div class="title">Orders</div>
                      <i class='bx bx-cart'></i>
                      <div class="value">Sample Order Numbers</div>
                      <div class="stat"><b>sample test</b>edited</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex">
                    <div class="card orders flex-fill">
                      <div class="title">Clients</div>
                      <i class='bx bx-user'></i>
                      <div class="value">Number of Clients That has order</div>
                    </div>
                  </div>
                  <main class="orderTbl"> Recent Order
                    <table class="table table-hover">
                      <tr>
                        <th>Date</th>
                        <th>Order No.</th>
                        <th>Name</th>
                        <th>Order Status</th>
                      </tr>
                      <tr>
                        <td>Data 1 Date</td>
                        <td>Data 2 Order no</td>
                        <td>Data 3Name</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Status
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Pending</a></li>
                              <li><a class="dropdown-item" href="#">Paid</a></li>
                              <li><a class="dropdown-item" href="#">Processing</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </main>
                </div>
              </div>
              <!--Calendar-->

              <nav class="cal">
                <div class="container">
                  <div class="calendar">
                    <div class="calendar-header">
                      <span class="month-picker" id="month-picker"> May </span>
                      <div class="year-picker" id="year-picker">
                        <span class="year-change" id="pre-year">
                          <pre></pre>
                        </span>
                        <span id="year"> 2020 </span>
                        <span class="year-change" id="next-year">
                          <pre></pre>
                        </span>
                      </div>
                    </div>
    
                    <div class="calendar-body">
                      <div class="calendar-week-days">
                        <div> Sun </div>
                        <div> Mon </div>
                        <div> Tue </div>
                        <div> Wed </div>
                        <div> Thu </div>
                        <div> Fri </div>
                        <div> Sat </div>
                      </div>
                      <div class="calendar-days">
                      </div>
                    </div>
    
                    <div class="calendr-footer">
                    </div>
                    <div class="date-time-formate">
                      <divclass="day-text-formate">TODAY</div>
                              <div class="date-time-value">
                                <div class="time-format">02:51:20</div>
                                <div class="date-format">23 - July - 2022</div>
                              </div>
                            </div>
                            <div class="month-list"></div>
                          </div>
                        </div>
                      </nav>
                      </main>
                </div>
            </section>
        </div>
    </div>
</script>
</body>
</html>