<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="ordersListFragment">
        <h1>Orders</h1>
        <main class="orderTbl">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Client</th>
                        <th>Billing Address</th>
                        <th>Billing Email</th>
                        <th>Shipping</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.status}"></td>
                        <td th:text="${order.billingDetail != null ? order.billingDetail.firstName : 'N/A'}"></td>
                        <td th:text="${order.billingDetail != null ? order.billingDetail.address : 'N/A'}"></td>
                        <td th:text="${order.billingDetail != null ? order.billingDetail.email : 'N/A'}"></td>
                        <td th:text="${order.shippingMethod != null ? order.shippingMethod.method : 'N/A'}"></td>
                        <td th:text="${order.paymentDetails != null ? order.paymentDetails.paymentType : 'N/A'}"></td>
                    </tr>
                </tbody>
            </table>
        </main>

    </div>
</body>

</html>